@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap');

* {
    font-family: 'Bebas Neue', cursive;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.title {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 48px;
    font-weight: 700;
}

.desc {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 18px;
}

button {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    width: 65px;
    height: 65px;
    border-radius: 2px;
    transition-duration: 0.025s;
}

button:hover {
    background-color: #4CAF50;
    color: white;
}

button:active {
    background-color: #216b24;
}

.btn-play-again {
    font-size: 30px;
    width: 300px;
    height: 80px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 700;
}