@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

* {
    font-family: 'Bebas Neue', cursive;
}

.title {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 48px;
    font-weight: 700;
}

.subt {
    font-weight: 500;
}

.desc {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
}

button {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    width: 65px;
    height: 65px;
    border-radius: 2px;
    transition-duration: 0.025s;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

button:hover {
    background-color: #4CAF50;
    color: white;
}

button:active {
    background-color: #216b24;
}

.btn-play-again {
    font-size: 30px;
    width: 300px;
    height: 80px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
}

#settings * {
    font-family: 'Noto Sans KR', sans-serif;
}

#toast {
    visibility: hidden;
    min-width: 350px;
    margin-left: -175px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 50%;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 17px;
}

#toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 45%; opacity: 0;} 
    to {bottom: 50%; opacity: 1;}
}
  
@keyframes fadein {
    from {bottom: 45%; opacity: 0;}
    to {bottom: 50%; opacity: 1;}
}
  
@-webkit-keyframes fadeout {
    from {bottom: 50%; opacity: 1;} 
    to {bottom: 45%; opacity: 0;}
}
  
@keyframes fadeout {
    from {bottom: 50%; opacity: 1;}
    to {bottom: 45%; opacity: 0;}
}

@media screen and (max-width: 600px) {
    .desc br {
        content: " ";
        display: none;
    }
  }